/* Font importing */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Importing other stylesheets */
@import "textformatting.css";
@import "animations.css";

@keyframes fadeInMoving {
    from { opacity: 0.0; height: 5% }
    to { opacity: 1.0;; height: 14.5% }
}

@keyframes fadeIn {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

html {
    background-color: #cecacb;
}

h1, h2, h3, p, li, a {
    font-family: 'Roboto', sans-serif;
}

.rounded-corners {
    border-radius: 10px;
}

#title {
    opacity: 0;
    animation-name: fadeInMoving;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#credits:link {
    opacity: 0.1;
    color: #e3d5d8;
}

#credits:visited {
    color: #e3d5d8;
}

#credits:hover {
    color: #e3d5d8;
}

#credits:active {
    color: #e3d5d8;
}