/* Font importing */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* Importing other stylesheets */
@import "textformatting.css";
@import "animations.css";

@keyframes fadeInMoving {
    from { opacity: 0.0; height: 5% }
    to { opacity: 1.0;; height: 14.5% }
}

@keyframes fadeIn {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

html {
    background-color: #cecacb;
}

h1, h2, h3, p, li, a {
    font-family: 'Roboto', sans-serif;
}

.rounded-corners {
    border-radius: 10px;
}

.shadow-5px {
    box-shadow: 0px 5px 10px #565656;
}

#title {
    opacity: 0;
    animation-name: fadeInMoving;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#credits:link a, #credits:visited a {
    opacity: 0.1;
    color: #e3d5d8;
}

#header a {
    opacity: 0;
    padding: 1%;
    color: #0000ff;
    text-decoration: none;
    animation: fadeIn 1s 1s forwards;
}